@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400, 600;
    src: url(https://fonts.gstatic.com/s/quicksand/v19/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400, 600;
    font-display: swap;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v11/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
    --main-color: #3b4834;
    --main-color-light: #6c7355;
    --transparent-white: rgba(255, 255, 255, 0.5);
    --main-color-gray: #c1c9cd;



}

html {
    scroll-behavior: smooth;
}


body {
    background-color: whitesmoke;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;

}

header {
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    background-color: whitesmoke;
}

ul {
    list-style: none;
}

.logo {
    align-self: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5rem;
    margin-left: 5rem;
}

h2 {
    position: relative;
}

h2::after {
    content: url("https://image.flaticon.com/icons/svg/262/262084.svg");
    position: absolute;
    width: 40px;
    height: 100%;
    left: -50px;

}
nav ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    text-align: center;

}

nav ul li {
    font-size: 1.2rem;
    padding: 10px;
    align-self: end;
    border-bottom: 2px solid var(--main-color);
}


.banner {
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    background: whitesmoke url("img/bg-pic.jpg") no-repeat fixed;
    background-size: cover;  
    text-align: center;
}

.banner h1 {
    color: black;
    margin-top: 10%;
    padding: 1rem;
    font-size: 4rem;
}

.banner p {
    font-size: 1.5rem;
    color: var(--main-color-light);
}

.banner img {
    height: 40px;
    padding: 1%;
}


/* ABOUT ME section start*/
.about-me, 
.skills, 
.contact-form {
    margin: 5%;
    height: 40vh;
    width: 90%;
    display: flex;
    background: #fff;
    box-shadow: 2px 5px 10px #ddd;
}

.personal-details, .description {
    padding: 1.8rem;
    font-size: 1.2rem;
}

.avatar {
    min-width: 20%;
}

.avatar img {
    height: 100%;
}

.personal-details {
    min-width: 30%;
    color: var(--main-color);
    font-weight: bold;
    list-style: none;
    background: var(--main-color-gray);
}

.personal-details li {
    padding: .5rem;
}

.personal-details li a {
    padding-left: .7rem;
    font-weight: 400;
    color: #000;
}

.description {
    border-left: 2px solid var(--main-color-light);
}

.description p {
    padding: 1rem;
    text-align: justify;
}

h3 {
    color: var(--main-color);
    font-size: 1.5rem;
}
/*ABOUT ME section end*/


/* SKILLS section start*/
.skills {
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.skill-1, .skill-2, .skill-3 {
    margin: 4%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.skill-1, .skill-2 {
    border-right: 4px dotted var(--main-color-light);
}
img {
    height: 25vh;
}
/*SKILLS section end*/

/*PHOTOS section start*/
.photo-gallery {
    margin-top: 10vh;
    background-color: #fff;
    height: 65vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh repeat(2, 1fr);
}

.portfolio-title {
    grid-column: span 3;
    text-align: center;
    background-color: whitesmoke;
}
.pic1 {
    background: url(img/pic1.jpg) no-repeat;
    background-size: cover;
}

.pic2 {
    background: url(img/pic2.jpg) no-repeat;
    background-size: cover;
}

.pic3 {
    grid-row: span 2;
    background: url(img/pic3.jpg) no-repeat;
    background-size: cover;
}

.pic4 {
    grid-column: span 2;
    background: url(img/pic4.jpg) no-repeat;
    background-size: cover;
}
/*PHOTOS section end*/


.contact-form {
    margin-top: 10vh;
    height: 80vh;
    display: flex;

}

.contact-info {
    background-color: var(--main-color-gray);
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 70%;
    font-size: 1.2rem;

}

.top img {
    height: 3rem;
    margin-bottom: 1rem;
}


.bottom {
    font-weight: 600;
    color: #fff;
    
}

.bottom img {
    height: 30px;
    padding: 1%;

}
form {
    align-items: center;
    min-width: 50%;
    margin-left: 3%;
}

input, 
button {
    width: 90%;
    margin: 2% 5%;
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
}

input {
    border: none;
    border-bottom: 1px solid var(--main-color-gray);
}

#textarea {
    padding: 5%
}

form h3 {
    padding: 5%;
}

button {
    margin-top: 7%;
    width: 90%;
    font-weight: 600;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border: 1px solid var(--main-color)
}

button:hover {
    background-color: whitesmoke;
}

footer {
    width: 100%;
    height: 10vw;
    text-align: center;
    padding: 3rem;
}



/* CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--main-color-gray); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color-light);
}